<mat-card class="tweets-card">
  <mat-card-title-group>
    <img [src]="tweet.user.profileImage" alt="" mat-card-avatar/>
    <mat-card-title>{{ tweet.user.name }}</mat-card-title>
    <mat-card-subtitle>@{{ tweet.user.screenName }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content class="content">
    <p>{{ tweet.text }}</p>
  </mat-card-content>
  <div class="footer">
    <div class="retweet">
      <i class="material-icons">cached</i>
      {{ tweet.retweetCount | number }}
    </div>
    <div class="favorite">
      <i class="material-icons">favorite</i>
      {{ tweet.favoriteCount | number }}
    </div>
    <div class="time">
      <i class="material-icons">access_time</i>
      {{ tweet.createdAt | time }}
    </div>
  </div>
</mat-card>
