<div class="header mat-typography">
  <img [src]="tweet.user.profileImage" alt="" />
  <div class="title">
    <span>{{ tweet.user.name }}</span>
    <span>@{{ tweet.user.screenName }}</span>
  </div>
</div>
<div class="content mat-typography">
  {{ tweet.text }}
</div>
<div class="footer mat-typography">
  <div class="retweet">
    <i class="material-icons">cached</i>
    {{ tweet.retweetCount | number }}
  </div>
  <div class="favorite">
    <i class="material-icons">favorite</i>
    {{ tweet.favoriteCount | number }}
  </div>
  <div class="reply">
    <i class="material-icons">reply</i>
    {{ tweet.replyCount | number }}
  </div>
</div>