:host {
    padding: 0 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes animated-red-dot {
    50% { border-radius: 50%; }
    100% { border-radius: 0%; }
}

.red-dot {
    width: 15px;
    height: 15px;
    background-color: red;
    margin-right: 10px;
    
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: animated-red-dot;
}

