mat-grid-list {
    background: url('/assets/img/background.png') top left no-repeat;
    background-size: cover;
}

mat-grid-tile {
    border: 1px solid #EEEEEE;
    background-color: rgba(255, 255, 255, 0.87);
}

mat-grid-tile:first-child,
mat-grid-tile:nth-child(5),
mat-grid-tile + mat-grid-tile {
    border-left: 0;
}

mat-grid-tile:nth-child(4) {
    border-right: 0;
}